.whiteboard {
  background-color: grey;
  width: 200%;
  height: 100vh;
  border: 1px solid #ccc;
  overflow-y:scroll;
  overflow-x: hidden;

  .whiteboard-item {
    margin : 0.5em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }



}


.item-header {
  user-select: none;
  display: flex;
  flex-direction: row;

  .delete-handle {
    padding: 20%;
    
    cursor : pointer;

    &:hover {
      color: red;
    }
    
  }

  .drag-handle {
  cursor: pointer;
  padding: 20%;
  width: 200%;

  &:hover {
    color : white
  }
}



}


